git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/trl.git
git+https://github.com/huggingface/accelerate.git
bitsandbytes
datasets>=2.19.0
huggingface_hub
scipy
pandas
psycopg2-binary
sqlalchemy
